
.wrapper {
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

.header {
  grid-area: header;
  background-color: steelblue;
  height: 60px;
}

.main {
  grid-area: main;
  overflow: scroll;
  background-color: rgb(104, 102, 102);
}

.footer {
  grid-area: footer;
  background-color: #AAA;
  height: 30px;
}

.toolbarbutton {
  background-color: rgb(104, 104, 104);
  color: white;
  border-width: 0px;
  margin: 10px;
  padding: 12px;
}


.toolbarbuttonselected {
  background-color: rgb(0, 71, 71);
  border-bottom: 6px solid red;
}

.toolbarbutton:hover{
  background-color: rgb(172, 172, 172);
}