
.wrapper {
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

.header {
  grid-area: header;
  background-color: steelblue;
  /* height: 60px; */
  
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: max-content auto max-content;
  grid-template-areas:
  "tabs blank omron";
}

.tabs {
  grid-area: tabs;
}

.omron {
  grid-area: omron;
}


.main {
  grid-area: main;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  background-color: rgb(72, 78, 81);
}

.footer {
  grid-area: footer;
  background-color: #AAA;
  /* height: 30px; */
}

.toolbarbutton {
  background-color: rgb(104, 104, 104);
  color: white;
  border-width: 0px;
  margin: 10px;
  padding: 12px;
}


.toolbarbuttonselected {
  background-color: rgb(0, 71, 71);
  border-bottom: 6px solid red;
}

.toolbarbutton:hover{
  background-color: rgb(172, 172, 172);
}

.navtab {
  /* background-color: lightsteelblue; */
  height: 30px;
  margin: 10px;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

.navselected {
  color: darkblue;
  font-weight: bold;
}

.menugrid {
  display: grid;
  grid-auto-flow: column;
}

.toggle {
  display: none;
}

.menucontainer {
  display: grid;
  grid-auto-flow: column;
  /* background-color: darkslateblue; */
}

.hidemenucontainer {
  display: none;
}

svg {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
line {
  stroke: #d3531a;
  stroke-width:8;
  stroke-linecap: round;
  transform-origin: center;
  transition: 0.4s;
}

line:nth-of-type(1) {
  transform: translateY(-20px);
}
line:nth-of-type(3) {
  transform: translateY(20px);
}

@media screen and (max-width: 600px) {
  .menucontainer {
    display: grid;
    grid-auto-flow: row;
    /* background-color: darkslateblue; */
  }
  .toggle {
    display: block;
  }

  
  }